{% extends "emiliano/base.html" %}

{% block css_content %}

{% load static %}
<!-- según yo esto llama a la cosa que pinta cosas de color azul, 
pero salen en nebro -->
<link rel="stylesheet" href={% static "emiliano/blue.css" %}>

{% endblock %}

{% block body_content %}

<a href="{% url 'index' %}">Home</a>

<!-- Igual no entendí muy bien esto, porque no aparece.
GGG ya aparece -->
<h1>About Me</h1>
<center>
  <img src="../../static/emiliano/imag/pp.jpg" width="150px">
  <!-- <img src="imag/pp.jpg" width="150px"> -->
  <br>
  <h2>
    Me llamo Emiliano Galeana Araujo. Me gustan las mates y la computación. Me
    gusta ver películas.
    <h3>
      Perdón por remandar esto, no había entendido chido, pero ya me explicaron.
      <h4>
        Duda: No entendí bien hoy lo de la imagen.
      </h4>
    </h3>
  </h2>
  </br>
</center>


{% endblock %}


<!-- No jalaba porque le moví algo a views y a urls para arreglar otra 
cosa que importaba en views -->
